{% extends 'base.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'entities.css' %}">
  {% if amostras %}
    <h1 class="title">Amostras</h1>
    <table>
      <tr>
        {% for key in keys %}
          <th>{{ key }}</th>
        {% endfor %}
      </tr>
    {% for amostra in amostras %}
      <tr onClick="window.location.assign('/ep3/amostras/{{ amostra.id }}')">
        <td>{{ amostra.id }}</td>
        <td>{{ amostra.paciente }}</td>
        <td>{{ amostra.exame }}</td>
        <td>{{ amostra.tipo_material }}</td>
        <td>{{ amostra.data_coleta }}</td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    <h3>Sem amostras cadastradas.</h3>
  {% endif %}
  <div class="actions-wrapper">
    <a class="actions" href="{% url "new_amostra" %}">Cadastrar</a>
    <a class="actions" href="{% url "home" %}">Voltar</a>
  </div>
{% endblock %}
