{% extends 'base.html' %} 
{% load custom_filters %}
{% load static %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
  {% for chave, entidade in dados.items %} 
    <h2 class="title">{{ chave|capfirst }}</h2>
    {% if entidade.quantidade > 0 %}
      <h4 class="subtitle">Últimos 5 cadastrados</h4>
      <table>
      <tr>
        <th>ID</th>
        <th>{{ chave|remove_last_char|capfirst }}</th>
        <th>Detalhes</th>
      </tr>
      {%for valor in entidade.valores %}
        <tr>
          <td>{{ valor.id }}</td>
          <td>{{ valor }}</td>
          <td><a href="{% url chave|remove_last_char valor.id %}">Veja Mais</a></td>
        </tr>
      {% endfor %}
      </table>
      {% if entidade.quantidade > 5 %}
        <a class="actions" href="{% url chave %}">Ver Todos</a>
      {% endif %}
    {% else %}
      <h3>Sem dados cadastrados.</h3>
    {% endif %}
    <a class="actions" href="{% url "new_"|add:chave|remove_last_char %}">Cadastrar</a>
  {% endfor %}
{% endblock %}
