{% extends 'base.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'forms.css' %}">
  <h1 class="title">Cadastrar novo exame</h1>
  <form action="{% url 'create_exame' %}" method="post">
    {% csrf_token %}
    {% if error_message %}
      <div class="field">
        <p class="error-title"><strong>Exame inválido</strong></p>
        <p><strong>{{ error_message }}</strong></p>
      </div>
    {% endif %}

    {% if pacientes %}
      <div class="field">
        <label for="paciente">Paciente: </label>
        <select id="paciente" name="paciente">
          <option disabled selected>Escolha um paciente</option>
          {% for paciente in pacientes %}
            <option value="{{ paciente.id }}">{{ paciente }}</option>
          {% endfor %}
        </select>
      </div>
    {% endif %}
    
    <div class="field">
      <label for="virus">Virus: </label>
      <input type="text" name="virus" id="virus" value="{{ exame.virus }}">
    </div>

    {% if tipos %}
      <div class="field">
        <label for="tipo">Tipo: </label>
        <select name="tipo">
          <option disabled selected>Escolha um tipo</option>
          {% for tipo in tipos %}
            <option value="{{tipo}}">{{tipo}}</option>
          {% endfor %}
        </select>
      </div>
    {% endif %}

    <div class="field">
      <label for="data_solicitacao">Data de solicitação: </label>
      <div class="field-date">
        <input type="date" name="data_solicitacao" id="data_solicitacao">
        <input type="time" name="tempo_solicitacao" id="tempo_solicitacao">
      </div>
    </div>

    <div class="field">
      <label for="data_execucao">Data de execução: </label>
      <div class="field-date">
        <input type="date" name="data_execucao" id="data_execucao">
        <input type="time" name="tempo_execucao" id="tempo_execucao">
      </div>
    </div>

    <div class="field">
      <button type="submit">Cadastrar</button>
    </div>
  </form>
  <a class="actions" href="{% url "exames" %}">Voltar</a>
{% endblock %}
